---
- name: Playbook to configure VM libvirt
  hosts: all
  become: true

  vars:
    # The playblook need to have a the number of VM with --extra-var "vm_count=xxx"
    # It is send by the Vagrantfile
    ansible_playbook_vm_count: "{{ vm_count | default(1) | int }}"

  roles:
    - role: ansible_role_libvirt_client_configure
      vars:
        ansible_role_libvirt_client_configure_vm_count: "{{ vm_count }}"
    - role: geerlingguy.swap
      vars:
        swap_file_state: 'absent'

  tasks:
    - name: Printing Fact Variables
      ansible.builtin.debug:
        msg: "The value {{ ansible_playbook_vm_count }} of OS Family is {{ item.prop }} [ {{ item.value }} ]"
      with_items:
        - { prop: 'ansible_os_family', value: "{{ ansible_os_family }}" }
        - { prop: 'ansible_distribution', value: "{{ ansible_distribution }}" }
        - { prop: 'ansible_distribution_major_version', value: "{{ ansible_distribution_major_version }}" }
