{% for item in range(1, (ansible_role_libvirt_client_configure_vm_count | int) -1 ) %}
Host node{{ item }}
    Hostname {{ ansible_role_libvirt_client_configure_vm_domain_ip_pattern }}{{ item }}
    StrictHostKeyChecking no
{% endfor %}
