{% for host in groups['all'] %}
{% for alias in hostvars[host].aliases | default([]) %}
Host {{ alias }}
    Hostname {{ hostvars[host].inventory_hostname }}
    StrictHostKeyChecking no
{% endfor %}
{% endfor %}
